spring:
  datasource:
    url: jdbc:mariadb://localhost:3306/devlint?useSSL=false&serverTimezone=Asia/Seoul&characterEncoding=UTF-8
    username: devlint_admin
    password: freefree98!!
    driver-class-name: org.mariadb.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
        show_sql: true

server:
  port: 8080
